/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
}

Header nav ul {
    display: flex;
    list-style-type:none;
    flex-wrap: wrap;
}

header nav ul li:first-of-type img{
    width: 20%;
}

header nav ul li:last-of-type img{
    width: 1em;
}
