/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --blue: rgb(0, 207, 181);
}


/*====================== Global styles=============================*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;

}

main,
footer {
    margin: 0;
    transform: translateY(2em);
}

ul {
    padding-inline-start: 0px;
    list-style: none
}

section:not(#newssection) {
    padding: 0em 1.5em 4em 1.5em;
}

section {
    padding-bottom: 4em;
}

h1 {
    color: black;
    font-weight: 900;
    line-height: 1em;
    font-size: 2em;
    padding: 1em 0em 1em 0em;

}

h4 {
    color: black;
    font-weight: 900;
    line-height: 1em;
    font-size: 1.5em;
    margin: 0;
}

h5 {
    color: rgb(255, 143, 28);
    font-weight: 900;
    line-height: 1em;
    font-size: 1.2em;
    margin: 0;
    margin: 1em 0 .2em 0;
}

h6 {
    font-weight: 900;
    line-height: 1em;
    font-size: .8em;
    margin: 0;
    margin: 1em 0 .2em 0;
}

.arrow {
    transform: translateY(30%);
}

/*---------------- Header styles-------------------*/

header {
    position: fixed;
    width: 100%;
    background: white;
    transition: .1s linear;
    z-index: 2;
    top: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-weight: 900;
}



header nav ul:first-of-type img {
    width: 6em;
}


header nav ul:last-of-type {
    padding: 0em 1em 0em .25em;
}

header nav ul li a,
#searchmenu a {
    color: black;
    text-decoration: none;
}

#topnav li a {
    color: var(--blue);
}


.searchbutton {
    width: 2.5em;
    height: 2.5em;
    background: none;
    background-size: 1.5em;
    border: none;
    position: relative;
}

.searchbutton img {
    width: 1.5em;
}

.underline::after {
    position: absolute;
    height: 3px;
    width: 1em;
    content: '';
    margin: 0 auto;
    top: 2em;
    left: 0;
    right: 0;
    width: 70%;
    background: black;
}

.stickyheader,
.stickyheadersearch {
    transform: translateY(-3em);
}

#searchmenu {
    display: none;
    position: absolute;
    top: 4em;
    right: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 1em;

}

#searchmenu h3 {
    font-weight: 900;
}

#searchmenu input {
    width: 100%;
    height: 3em;
    border: none;
    color: var(--blue);
    font-weight: 900;
    font-size: 1.2em;
    caret-color: var(--blue);

}

#searchmenu input::placeholder {
    color: lightgrey;
    font-size: 1em;
    font-weight: 900;
}

.closebutton {
    width: 2em;
    height: 2em;
    background: url(/images/clear-24px.svg);
    background-size: 2em;
    border: none;
    margin-bottom: 30em;
    transform: translateY(-3em);

}


#searchsection .visible {
    display: block;
    animation: visibleanimation .1s ease-in;
    animation-fill-mode: both;
}

@keyframes visibleanimation {
    from {
        opacity: 0;
        transform: translatey(0em);
    }

    to {
        opacity: 1;
        display: block;
        transform: translatey(-2em);
    }
}


/*---------------- Footer styles-------------------*/


footer {
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 2em 1.5em 2em 1.5em;

}

footer a {
    font-weight: 900;
    line-height: 1em;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

footer .adresswrapper {
    padding-left: 0;
    padding-right: 0;
}

footer ul {
    position: relative;
}

footer li {
    padding-bottom: 1.5em;
}

footer #toplink {
    position: absolute;
    right: 0;
    top: 0;
    font-size: .9em;
    align-content:
}

footer #toplink img {
    display: inline;
    width: 1.2em;
    transform: translateY(20%);
    margin-left: .5em;
}

footer .toswrapper {
    display: flex;
    flex-wrap: wrap
}

footer .toswrapper li {
    width: 50%
}


footer .toswrapper li a {
    font-size: 1em;
}

footer .toswrapper li:last-child {
    width: 100%;
    padding-bottom: 0em;
}

.greytext {
    color: grey;
    font-size: .9em
}

form div {
    background: none;
    position: relative;
    margin-bottom: 1em;
}

form #email {
    width: 100%;
    border: none;
    background: none;
    color: white;
    padding: .5em 0em .5em 0em;
    border-bottom: 3px white solid;
}


form input::placeholder {
    color: white;
    font-weight: 900;
    line-height: 1em;
    font-size: 1.2em;
}


form #submitbutton {

    width: 1.5em;
    position: absolute;
    top: .2em;
    right: 0;
}

footer button {
    background: none;
    border: none;
    font-size: 1em;
    font-weight: 900;
    color: white;
}

footer button img {
    width: .6em;
    margin-left: .5em;
}

/*====================== Homepage styles=============================*/

/*  Main news styles  */
/*

main section ul#newslist {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
*/

section ul#newslist li {
    position: relative;
    width: 100%;
    height: 13em;
}

section ul#newslist li a {
    position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    color: black;
}

section ul#newslist li:nth-child(even) a {
    flex-direction: row-reverse;
}


.newswrapper {
    padding: 0em 1em 0em 1em;
    margin: 0;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.newswrapper p,
.newswrapper h3,
.adresswrapper p {
    font-weight: 900;
    line-height: 1em;
    font-size: 1.2em;
}

.newswrapper p,
.adresswrapper p {
    font-size: 1em;
}

.lastchance {
    color: rgb(255, 180, 40);
}

.imagewrapper {
    width: 40%;
    overflow: hidden;
    margin: 0;
}

.imagewrapper img {
    transform: translatex(-30%);
    height: 13em;
}

main section ul#newslist li:nth-of-type(1) {
    background-color: rgb(255, 205, 0);
}

main section ul#newslist li:nth-of-type(2) {
    background-color: rgb(255, 142, 123);
}

main section ul#newslist li:nth-of-type(3) {
    background-color: rgb(254, 183, 173);
}

main section ul#newslist li:nth-of-type(4) {
    background-color: rgb(206, 220, 0);
}

main section ul#newslist li:nth-of-type(5),
main section ul#newslist li:nth-of-type(5) .newswrapper {
    background-color: rgb(0, 0, 0);
    color: white;
}


.adresswrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1em 0 1em;

}

.adresswrapper li {
    width: 50%;

}

#newssection .adresswrapper {
    padding: 0em 2em 0em 2em;
}

#newssection .adresswrapper li:last-child {
    transform: translateY(-2em);
    font-size: .9em;
}

section#magazine img {
    width: 100%;
}

#magazine h4 span {
    font-style: italic;
}

#magazine p span {
    color: darkgrey;
    display: block
}

section#support img {
    width: 100%;
}


.flexcontainer {
    display: flex;
    justify-content: space-between;
}

.storeitem {
    width: 45%;
}

.storeitem img {
    width: 100%
}



#slidewrapper {
    position: relative;
    padding: 4em 0em 4em 0em;
    height: 30em;
}

#slidewrappersponsor {
    width: 100%;
    padding: 2em 0em 4em 0em;
}


.slideimg {
    /*    width: 100%;*/
    height: 40%;
    position: absolute;
    transition: opacity .5s ease-in;
}

.slideimg + .slideimg,
.slideimgsponsor + .slideimgsponsor {
    opacity: 0;
}

.slideimgsponsor {
    height: 3em;
    position: absolute;
    transition: opacity .5s ease-in;
}

.highcontrast {
    background-color: white !important;
}

.socialicons {
    width: 1em;

    margin: 0em 1.5em 1em 0em;
}

/*====================== collection page styles=============================*/

/*---------------- collection list styles-------------------*/

section#sectionsearchfilter {
    padding-bottom: 0;
}

#collectionbody {
    margin-top: 4em;
}

section ul#collectionlist {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between
}

section ul#collectionlist li img {
    width: 100%;
}

section ul#collectionlist li {
    width: 45%;
    text-overflow: hidden;
}

.underlined {
    text-decoration: underline;
}

.introtext {
    font-weight: 900;
    line-height: 1em;
    font-size: 1.1em;
}

#filterinput {
    width: 100%;
    height: 3em;
    border: 2px lightgrey solid;
    border-radius: .3em;
    padding-left: 1em;
    background: url(/images/magnifying-glass-grey.png) no-repeat;
    background-size: 1.5em;
    background-position: right 1em bottom 50%;

}

#filterinput::placeholder {
    color: grey;
    font-weight: 600;
}

#foldmenu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(238, 238, 238);
    padding: 3em 1em 0em 1em;
    margin-bottom: 1em;

}

.togglevisible {
    display: none;
}

#foldmenu button {
    border: none;
    background: none;
    position: absolute;
    top: 1em;
    left: 1em;
}

#classification,
#fromdate,
#todate {
    padding: .5em 1em .5em 1em;
    margin-top: 1em;
    border: 2px lightgrey solid;
    border-radius: 3em;
}

#classification {
    width: 100%;
}

#fromdate,
#todate {
    margin-right: 1.em;
}

#recent,
#uncataloged {
    display: block;
}

#foldmenucheck,
#outsidemenucheck {
    position: relative;
}

#foldmenucheck label {
    position: relative;
    right: -2em;
    top: 1.2em;
}

#outsidemenucheck input {
    position: relative;
    right: 6em;
    margin-right: 3em
}

#outsidemenucheck label {
    position: relative;
    left: 2em;

}

.buttonwrapper {
    text-align: center
}

.resultsbutton {
    background: url(/images/add-24px.svg) no-repeat;
    background-position: right .8em top .2em;
    background-size: 1.7em;
    border: 2px lightgrey solid;
    border-radius: 2em;
    padding: .5em 3em .5em 1em;
    font-weight: 600;
    color: grey;

}
